<p>Hello, <%= req.user.email %>!</p>

<p>Now that you've logged in, what would you like to do?</p>

<ul>
  <li><a href="/story">View and edit stories</a></li>
</ul>

<p class="logout"><a href="/logout" role="button">Log out</a></p>
