<!DOCTYPE html>
<html>
  <head>
    <title>Truthmaker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/main.css">
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Truthmaker</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right nav-login">
            <% if (req.user) { %>
              <li><a><strong><%- req.user.email %></strong></a></li>
              <li><a href="/logout" role="button">Log out</a></li>
            <% } else { %>
              <li><a><strong>not logged in</strong></a></li>
              <li><a href="/login" role="button">Log in</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%- body %>
    </div>
  </body>
</html>
