<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <script src="/scripts/app.js"></script>
  <title>Emergent</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//use.typekit.net/mxw7exw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="site">
  <main id="react"></main>
</body>
</html>
