<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="utf-8">
  <script src="/scripts/app.min.js"></script>
  <script src="/scripts/vendors/modernizr.custom.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <title>Emergent</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//use.typekit.net/mxw7exw.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>

<body class="site">

  <main id="react"></main>

  <!-- <footer class="site-footer">
    <div class="container">
      <div class="mailchimp">
        <div id="mc_embed_signup">
          <h2 class="mailchimp-title">Subscribe to our mailing list</h2>
          <form action="//craigsilverman.us2.list-manage.com/subscribe/post?u=657b595bbd3c63e045787f019&amp;id=80df098e56" method="post" id="mc-embedded-subscribe-form" class="mailchimp" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        	  <label for="mce-EMAIL">Email Address</label>
        	  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_657b595bbd3c63e045787f019_80df098e56" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
        </div>
      </div>
      <div class="social-media">
        <a href="http://www.twitter.com/EmergentDotInfo" class="icon icon-twitter"><span class="sr-only">Twitter: @EmergentDotInfo</span></a>
      </div>
    </div>
  </footer> -->

  <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b58aef5ea7f3bf" async></script>-->
  <!--<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55156414-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>
