/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.shares-label, .sources-label {
  color: #7f7f7f; }

.section-content {
  clear: both;
  padding: 1em; }

.section-content {
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.article-footer:after, .card-header:after, .articles-filtering:after, .site-header:after, .site-header-secondary > .container:after, .section:after {
  clear: both;
  content: '';
  display: table; }

.articles-title, .section-title {
  font-size: 1.4em;
  margin-top: 0; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@media (min-width: 0) {
  .container,
  .page-content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .container:after,
    .page-content:after {
      content: " ";
      display: block;
      clear: both; } }
@media (min-width: 48em) {
  .container,
  .page-content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .container:after,
    .page-content:after {
      content: " ";
      display: block;
      clear: both; } }
@media (min-width: 68em) {
  .container,
  .page-content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto; }
    .container:after,
    .page-content:after {
      content: " ";
      display: block;
      clear: both; } }

@media (min-width: 0) {
  .section-with-sidebar .section-header, .page-about > .container, .articles-filtering, .site-header-primary, .site-header-categories > .container, .site-header-secondary > .container {
    padding-left: 15px;
    padding-right: 15px; } }
@media (min-width: 48em) {
  .section-with-sidebar .section-header, .page-about > .container, .articles-filtering, .site-header-primary, .site-header-categories > .container, .site-header-secondary > .container {
    padding-left: 20px;
    padding-right: 20px; } }
@media (min-width: 68em) {
  .section-with-sidebar .section-header, .page-about > .container, .articles-filtering, .site-header-primary, .site-header-categories > .container, .site-header-secondary > .container {
    padding-left: 40px;
    padding-right: 40px; } }

.card-all .card-title,
.card-category .card-title {
  width: 20%;
  float: left;
  margin-right: 6.66667%; }
.card-all .card-meta,
.card-category .card-meta {
  width: 73.33333%;
  float: right;
  margin-right: 0; }

.section-with-sidebar .section-header {
  margin-top: 2em;
  margin-bottom: 2em; }
  .section-with-sidebar .section-header.with-stance {
    position: relative;
    padding-left: 10.2em; }
    .section-with-sidebar .section-header.with-stance .stance {
      top: 0.3em; }

@media (min-width: 48em) {
  .site-logo {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%; }

  .site-menu {
    width: 74.46809%;
    float: right;
    margin-right: 0; }

  .articles-holder,
  .section-with-sidebar {
    width: 74.46809%;
    float: left; }

  .page-navigation {
    width: 25.53191%;
    float: left; }

  .mailchimp {
    width: 65.95745%;
    float: left;
    margin-right: 2.12766%; }

  .social-media {
    width: 31.91489%;
    float: right;
    margin-right: 0; }

  .page-article .page-content,
  .page-article .page-chart,
  .page-article .page-articles,
  .page-claim .page-content,
  .page-claim .page-chart,
  .page-claim .page-articles {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .page-about .page-content {
    width: 82.97872%;
    float: left;
    margin-right: 2.12766%; }

  .card-all .card-title {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%; }
  .card-all .card-meta {
    width: 74.46809%;
    float: right;
    margin-right: 0; }

  .card-categories-1 .card-category {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .card-categories-2 .card-category {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%; }
  .card-categories-3 .card-category {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%; }
  .card-category:last-child {
    float: right;
    margin-right: 0; } }
* {
  box-sizing: border-box; }

body {
  color: #323232;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  overflow-x: hidden; }

a {
  color: #1473a3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3; }

h1 {
  font-weight: 400;
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif; }

h2 {
  font-weight: 500; }

h3 {
  font-weight: 500; }

h4 {
  font-weight: 500; }

p {
  margin-top: 0; }

strong {
  font-weight: 500; }

.social-media {
  text-align: right; }
  .social-media .icon {
    background-size: 24px 24px; }

.icon {
  text-indent: -9999px; }

.icon-confirmed {
  background-image: url('/images/confirmed.svg');
  display: block;
  height: 30px;
  width: 30px; }

.icon-most-shared {
  background-image: url('/images/shared.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  margin-right: 5px;
  margin-top: -6px;
  vertical-align: middle;
  width: 26px; }

.icon-facebook,
.icon-twitter,
.icon-google {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 24px;
  vertical-align: top;
  width: 24px; }

.icon-facebook {
  background-image: url('/images/facebook.svg');
  width: 18px; }

.icon-twitter {
  background-image: url('/images/twitter.svg'); }

.icon-google {
  background-image: url('/images/google.svg'); }

.icon-search {
  background-image: url('/images/search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden; }

.icon-close {
  background-image: url('/images/close.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  display: inline-block;
  height: 11px;
  width: 11px;
  overflow: hidden; }

.list-unstyled {
  list-style-type: none;
  padding-left: 0; }

input[type="text"],
input[type="email"],
input[type="search"] {
  box-shadow: 0;
  padding: .5em .75em; }

input[type="search"] {
  width: 60%; }

input[type="submit"] {
  border: 0;
  border-radius: 2px;
  padding: .5em .75em; }

ul.credits {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.page-about > .container {
  padding-top: 2em;
  padding-bottom: 2em; }

.articles-title {
  margin-bottom: 1em; }

.articles {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; }

.article-title {
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  margin-bottom: .5em;
  margin-top: 0; }
  .article-title > a {
    text-decoration: none; }

.article-meta,
.article-byline {
  font-size: 0.8em;
  line-height: 1.2; }

.article-meta {
  margin-bottom: 1em; }

.article-category {
  color: #7f7f7f;
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.article-updated {
  font-weight: 500; }

.article-shares {
  float: right;
  font-weight: 500; }
  .article-shares .label {
    color: #7f7f7f; }

.article-byline {
  color: #7f7f7f;
  margin-bottom: 1em;
  font-weight: 500; }

.article-source a {
  font-weight: 600;
  text-decoration: none; }
.article-source .indicator {
  margin-right: 5px;
  margin-left: 8px; }

.article-originated {
  display: inline-block;
  margin-left: 10px; }

.article-content {
  margin-bottom: 0;
  font-size: 0.95em; }

@media (min-width: 0) and (max-width: 48em) {
  .article-footer {
    margin-top: 1em; } }
.article-footer .article-tags,
.article-footer .article-tracked {
  font-size: 0.8em;
  font-weight: 500; }
  @media (min-width: 48em) {
    .article-footer .article-tags,
    .article-footer .article-tracked {
      margin-top: 1em; } }
  .article-footer .article-tags .label,
  .article-footer .article-tracked .label {
    color: #7f7f7f; }
.article-footer .article-tags {
  position: relative;
  padding-left: 55px; }
  @media (min-width: 48em) {
    .article-footer .article-tags {
      width: 57.44681%;
      float: left;
      margin-right: 2.12766%; } }
  .article-footer .article-tags .label {
    position: absolute;
    left: 0; }
  .article-footer .article-tags a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px; }
@media (min-width: 48em) {
  .article-footer .article-tracked {
    text-align: right;
    width: 31.91489%;
    float: right;
    margin-right: 0; } }
.article-footer .tracked-group {
  display: inline-block;
  margin-left: 7px; }
  .article-footer .tracked-group .indicator {
    margin-left: 5px; }

.article-preview {
  border-bottom: 1px solid #eaeaea;
  padding: 1em;
  position: relative; }
  @media (min-width: 48em) {
    .article-preview {
      padding: 2em 2em 2em 10.2em; } }

.article-source-title {
  color: #7f7f7f;
  font-size: 1em;
  margin-bottom: 1em; }

.article-source {
  /* font-size: .95em; */ }

.article-revision .article-header,
.article-revision .article-footer {
  padding: 1em; }

.changes {
  font-size: 1em;
  font-weight: 500;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; }

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative; }

.card-header,
.card-content {
  padding: 1em; }

.card-header {
  border-style: solid;
  border-width: 1px; }

.card-title {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }
  .card-title .icon {
    margin-top: .25em; }

.card-meta {
  text-align: right; }

.card-content {
  border-bottom: 1px solid #b2b2b2;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  color: #323232;
  height: 200px;
  width: 100%; }

.card-category-for,
.card-category-against,
.card-category-observing {
  color: #ffffff; }

.card-category-for .card-header {
  background-color: #7ecc76;
  border-color: #5bbe51; }

.card-category-against .card-header {
  background-color: #dd5b53;
  border-color: #d3342a; }

.card-category-observing .card-header {
  background-color: #f9be58;
  border-color: #f7ab27; }

.articles-filtering {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
  padding-right: 0; }
  .articles-filtering .navigation-filtering {
    float: left;
    border-right: 1px solid #ebebeb;
    margin-left: -2px; }
    .articles-filtering .navigation-filtering li {
      float: left;
      margin-bottom: -1px; }
    .articles-filtering .navigation-filtering .navigation-link {
      color: #7f7f7f;
      border-bottom: 1px solid transparent;
      line-height: 1;
      font-size: 0.7em;
      padding: 18px 2px 16px;
      margin: 0 11px 0 0;
      transition: border .15s ease-in-out; }
      @media (min-width: 48em) {
        .articles-filtering .navigation-filtering .navigation-link {
          margin: 0 20px 0 0;
          font-size: 0.8em; } }
      .articles-filtering .navigation-filtering .navigation-link:hover {
        border-bottom-color: #b2b2b2; }
      .articles-filtering .navigation-filtering .navigation-link.active {
        color: #323232;
        border-bottom-color: #323232; }
    .articles-filtering .navigation-filtering + .navigation-filtering {
      padding-left: 11px;
      margin-left: 0;
      border-right: none; }
      @media (min-width: 30em) {
        .articles-filtering .navigation-filtering + .navigation-filtering {
          border-right: 1px solid #ebebeb; } }
      @media (min-width: 48em) {
        .articles-filtering .navigation-filtering + .navigation-filtering {
          padding-left: 20px; } }

.filters {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 0;
  padding-left: 0; }
  .filters > li {
    display: inline-block; }
    .filters > li + li {
      margin-left: .5em; }

.filter {
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: .65;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: opacity .2s ease;
  width: 100%; }
  .filter:focus {
    outline: 0; }
  .filter:hover, .filter.is-selected {
    opacity: 1; }

.filter-category {
  color: #ffffff;
  font-weight: 400; }

.filter-category-all {
  background-color: #b2b2b2;
  border-color: #b2b2b2; }
  .filter-category-all.is-selected {
    border-color: #999999; }

.filter-category-for {
  background-color: #7ecc76;
  border-color: #7ecc76; }
  .filter-category-for.is-selected {
    border-color: #5bbe51; }

.filter-category-against {
  background-color: #dd5b53;
  border-color: #dd5b53; }
  .filter-category-against.is-selected {
    border-color: #d3342a; }

.filter-category-observing {
  background-color: #f9be58;
  border-color: #f9be58; }
  .filter-category-observing.is-selected {
    border-color: #f7ab27; }

.menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; }
  .menu > li {
    float: left; }
    .menu > li + li {
      margin-left: 2em; }

.menu-item {
  display: block;
  text-decoration: none; }

.menu-site {
  float: right; }
  .menu-site .menu-item {
    color: #ffffff;
    line-height: 38px;
    opacity: .75;
    transition: opacity .15s ease-in-out; }
    .menu-site .menu-item.active {
      opacity: 1; }
    .menu-site .menu-item:hover {
      opacity: 1; }

.navigation {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; }

.navigation-link {
  display: block;
  text-decoration: none; }

.site-menu-toggle {
  width: 22px;
  height: 16px;
  display: block;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: opacity .15s ease-in-out; }
  @media (min-width: 48em) {
    .site-menu-toggle {
      display: none; } }
  .site-menu-toggle span {
    text-indent: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff; }
  .site-menu-toggle:hover {
    opacity: .75; }

.navigation-site {
  float: right;
  display: none; }
  @media (min-width: 48em) {
    .navigation-site {
      display: block; } }
  .navigation-site > li {
    float: left; }
  .navigation-site .navigation-link {
    color: #ffffff;
    line-height: 38px;
    opacity: 1;
    padding-left: 2em;
    transition: opacity .15s ease-in-out; }
    .navigation-site .navigation-link.active {
      opacity: .75; }
    .navigation-site .navigation-link:hover {
      opacity: .75; }

@media (min-width: 0) and (max-width: 48em) {
  .navigation-site {
    transition: max-height .15s ease-in-out;
    max-height: 0;
    display: block;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 5; }
    .navigation-site .navigation-link {
      padding-left: 1em; }

  .site-header.nav-toggle-active .navigation-site {
    max-height: 50px; } }
.navigation-categories {
  white-space: nowrap;
  width: 100%;
  margin-left: -5px; }
  .navigation-categories > li {
    display: inline-block;
    white-space: nowrap;
    position: relative; }
    .navigation-categories > li:before {
      content: '';
      width: 2px;
      height: 2px;
      display: inline-block;
      margin: 0 15px;
      background: #e0e0e0; }
    .navigation-categories > li:first-child:before {
      display: none; }
  .navigation-categories .navigation-link {
    white-space: nowrap;
    opacity: 1;
    transition: opacity .15s ease-in-out;
    display: inline-block;
    color: #707070;
    padding: 5px;
    font-weight: 500; }
    .navigation-categories .navigation-link.active {
      opacity: .75; }
    .navigation-categories .navigation-link:hover {
      opacity: .75; }

.navigation-trending {
  margin-right: -5px;
  display: inline-block; }
  .navigation-trending > li {
    display: inline-block;
    position: relative; }
  .navigation-trending .navigation-link {
    opacity: 1;
    transition: opacity .15s ease-in-out;
    display: inline-block;
    padding: 0 5px;
    font-size: 0.7em; }
    .navigation-trending .navigation-link.active {
      opacity: .75; }
    .navigation-trending .navigation-link:hover {
      opacity: .75; }

.navigation-page > li {
  padding: 20px;
  border-bottom: 1px solid #eaeaea; }
  @media (min-width: 68em) {
    .navigation-page > li {
      border-right: 1px solid #eaeaea; } }
.navigation-page p {
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 0.8em; }
.navigation-page .navigation-link {
  font-size: 0.8em;
  text-decoration: underline; }

.page {
  background-color: #ffffff; }

.page-title {
  margin-top: 0; }

.page-content {
  padding-bottom: 2em; }

.page-meta .meta {
  border-top: 1px solid #b2b2b2;
  margin-top: 1em;
  padding-top: 1em; }

.site-header {
  background-color: #323232;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMjYlIiBzdG9wLWNvbG9yPSIjZDg5ZWY3IiBzdG9wLW9wYWNpdHk9IjAuMTUiLz48c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzZhNTE3NSIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(26%, rgba(216, 158, 247, 0.15)), color-stop(52%, rgba(106, 81, 117, 0.15)), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(#000000, rgba(216, 158, 247, 0.15) 26%, rgba(106, 81, 117, 0.15) 52%, #000000);
  background-image: -webkit-linear-gradient(#000000, rgba(216, 158, 247, 0.15) 26%, rgba(106, 81, 117, 0.15) 52%, #000000);
  background-image: linear-gradient(#000000, rgba(216, 158, 247, 0.15) 26%, rgba(106, 81, 117, 0.15) 52%, #000000);
  color: #ffffff;
  position: relative; }

.site-header-primary {
  height: 3.3em; }
  @media (min-width: 48em) {
    .site-header-primary {
      padding-top: 2.7em;
      height: 6em; } }

.site-logo {
  font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 0.35em; }
  @media (min-width: 48em) {
    .site-logo {
      padding-top: 0; } }
  .site-logo a {
    color: #ffffff;
    text-decoration: none; }

.site-header-categories {
  background-color: #fafafa;
  overflow: hidden; }
  html.touch .site-header-categories {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; }
    @media (min-width: 48em) {
      html.touch .site-header-categories {
        overflow: hidden; } }
  .site-header-categories .navigation-link {
    font-size: 0.7em; }

.site-header-secondary {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ebebeb; }
  .site-header-secondary > .container {
    position: relative; }
  .site-header-secondary .page-title {
    font-family: "news-gothic-std", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 1.3em 0 0.5em;
    line-height: 1;
    font-size: 1.2em; }
  .site-header-secondary .page-title-holder {
    float: left; }
  .site-header-secondary .search-holder {
    float: right;
    margin-top: 1.4em;
    position: relative; }

.site-menu-trending {
  float: left;
  transition: opacity .15s ease-in-out;
  opacity: 1;
  display: none; }
  @media (min-width: 48em) {
    .site-menu-trending {
      display: block; } }
  .site-menu-trending .label {
    color: #7f7f7f;
    font-size: 0.7em;
    display: inline-block;
    padding: 0 5px; }

.articles-search {
  float: left;
  margin: 0.3em 0 0 1em; }
  .articles-search .search-toggle,
  .articles-search .search-close {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    outline: none;
    transition: opacity .15s ease-in-out; }
    .articles-search .search-toggle .icon,
    .articles-search .search-close .icon {
      display: block; }
    .articles-search .search-toggle:hover,
    .articles-search .search-close:hover {
      opacity: .75; }
  .articles-search .search-close {
    width: 20px;
    height: 20px; }
  .articles-search .articles-search-holder {
    position: absolute;
    right: -5px;
    bottom: -0.313em;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .15s ease-in-out; }
    @media (min-width: 48em) {
      .articles-search .articles-search-holder {
        bottom: -0.05em; } }
    .articles-search .articles-search-holder .inner {
      position: relative; }
    .articles-search .articles-search-holder input {
      background-color: #fafafa;
      border: 1px solid #eeeeee;
      line-height: 1;
      font-size: 16px;
      padding: 5px 25px 4px 10px;
      outline: none;
      width: 220px;
      box-sizing: border-box;
      border-radius: 0;
      -webkit-appearance: none; }
    .articles-search .articles-search-holder .search-close {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px; }

.site-header-secondary.search-toggle-active .site-menu-trending {
  opacity: 0; }
.site-header-secondary.search-toggle-active .articles-search-holder {
  display: block;
  opacity: 1;
  width: auto; }

.section-title {
  margin-bottom: .75em; }

@media (min-width: 48em) {
  .section-with-sidebar {
    border-right: 1px solid #eaeaea; } }
@media (min-width: 68em) {
  .section-with-sidebar {
    border-left: 1px solid #eaeaea; } }

.articles .shares {
  text-align: center; }
.page-meta .shares {
  display: inline-block; }
  .page-meta .shares + .shares {
    margin-left: 2em; }

.shares-label {
  display: block;
  font-size: 0.95em; }
  .card-category .shares-label {
    color: #ffffff; }

.shares-value {
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1; }

.social {
  list-style-type: none;
  margin-top: 1em;
  padding-left: 0; }
  .social > li {
    display: inline-block; }
    .social > li + li {
      margin-left: 1.25em; }

.social-value {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 24px;
  margin-left: .2em; }

.sources {
  font-size: 0.95em;
  margin-bottom: 0; }

.sources-value {
  display: block;
  font-weight: 500; }

.stance {
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  padding-bottom: .25em;
  padding-top: .3em;
  text-align: center;
  width: 6em; }
  .with-stance .stance {
    margin-bottom: 1em; }
    @media (min-width: 48em) {
      .with-stance .stance {
        left: 2.6em;
        position: absolute;
        top: 4em;
        margin-bottom: 0; } }

.stance-value {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: capitalize; }

.stance-true,
.stance-false {
  color: #ffffff; }

.stance-true {
  background-color: #00bf71;
  border-color: #00bf71; }

.stance-false {
  background-color: #e70909;
  border-color: #e70909; }

.stance-unknown {
  background-color: transparent;
  border-color: #656565;
  color: #656565; }

.indicator {
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  margin-bottom: 0.2em; }

.indicator-true,
.indicator-false {
  color: #ffffff; }

.indicator-true {
  background-color: #00bf71;
  border-color: #00bf71; }

.indicator-false {
  background-color: #e70909;
  border-color: #e70909; }

.indicator-unknown {
  background-color: transparent;
  border-color: #656565;
  color: #656565; }

.status {
  display: block; }
  .status + .status {
    margin-top: .75em; }

.status-label {
  font-size: 0.95em;
  font-weight: 500; }

.status-value {
  color: #ffffff;
  display: block;
  letter-spacing: 1px;
  padding: .5em .75em;
  text-transform: uppercase; }

.status-ignoring .status-value,
.status-unknown .status-value {
  background-color: #b2b2b2; }

.status-false .status-value,
.status-against .status-value {
  background-color: #e70909; }

.status-true .status-value,
.status-for .status-value {
  background-color: #00bf71; }

.status-observing .status-value {
  background-color: #656565; }

.tracking {
  border-left: 0.25em solid #b2b2b2;
  margin-bottom: .25em;
  padding-bottom: .25em;
  padding-left: .75em;
  padding-top: .25em; }

.tracking-unknown {
  border-left-color: #656565; }

.tracking-false {
  border-left-color: #e70909; }

.tracking-true {
  border-left-color: #00bf71; }

.addthis_toolbox {
  margin-top: 2em; }
  .addthis_toolbox.addthis_default_style .at300b {
    padding-left: 0;
    padding-right: 0; }
    .addthis_toolbox.addthis_default_style .at300b + .at300b {
      padding-left: 4px; }

.mailchimp-title {
  margin-top: 0;
  margin-bottom: .5em; }

/*# sourceMappingURL=main.css.map */
