/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Gotham";
  src: url('/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 100; }
@font-face {
  font-family: "Gotham";
  src: url('/fonts/Gotham-Book.otf') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Gotham";
  src: url('/fonts/Gotham-Medium.otf') format('opentype');
  font-weight: 500; }
@font-face {
  font-family: "Gotham";
  src: url('/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700; }
.shares-label, .sources-label {
  color: #727272;
  text-transform: uppercase; }

.articles .article, .section {
  clear: both;
  padding: 1em; }

.articles .article {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.articles .article:after, .filters-section:after, .filter-content:after, .section:after {
  clear: both;
  content: '';
  display: table; }

.articles-title, .section-title {
  font-size: 1.5em;
  margin-top: 0;
  text-transform: uppercase; }

@media (min-width: 0) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }
@media (min-width: 64em) {
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }
@media (min-width: 78em) {
  .container {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }
@media (min-width: 96em) {
  .container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto; }
    .container:after {
      content: " ";
      display: block;
      clear: both; } }

@media (min-width: 78em) {
  .site-logo {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%; }

  .site-menu {
    width: 74.35897%;
    float: right;
    margin-right: 0; }

  .page-article .page-header,
  .page-claim .page-header {
    width: 82.90598%;
    float: left;
    margin-right: 2.5641%; }
  .page-article .page-meta,
  .page-claim .page-meta {
    width: 14.52991%;
    float: right;
    margin-right: 0; }
  .page-article .page-content,
  .page-article .page-chart,
  .page-article .page-articles,
  .page-claim .page-content,
  .page-claim .page-chart,
  .page-claim .page-articles {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .page-article .article-content,
  .page-claim .article-content {
    width: 82.90598%;
    float: left;
    margin-right: 2.5641%; }
  .page-article .article-footer,
  .page-claim .article-footer {
    width: 14.52991%;
    float: right;
    margin-right: 0; }

  .article-revision .article-header {
    width: 14.52991%;
    float: left;
    margin-right: 2.5641%; }
  .article-revision .article-content {
    width: 65.81197%;
    float: left;
    margin-right: 2.5641%; }
  .article-revision .article-footer {
    width: 14.52991%;
    float: right;
    margin-right: 0; } }
.filter-all {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .filter-all .filter-title {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%; }
  .filter-all .filter-meta {
    width: 74.35897%;
    float: right;
    margin-right: 0; }

.filter-category {
  width: 33.33333%;
  float: left; }
  .filter-category .filter-title {
    width: 45.94595%;
    float: left;
    margin-right: 8.10811%; }
  .filter-category .filter-meta {
    width: 45.94595%;
    float: right;
    margin-right: 0; }

* {
  box-sizing: border-box; }

body {
  color: #252424;
  font-family: "Gotham", Helvetica, Arial, sans-serif; }

a {
  color: #727272; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 500; }

h3 {
  font-weight: 500; }

h4 {
  font-weight: 500; }

p {
  margin-top: 0; }

strong {
  font-weight: 500; }

.list-unstyled {
  list-style-type: none;
  padding-left: 0; }

.articles {
  list-style-type: none;
  padding-left: 0; }
  .articles > li {
    margin-bottom: .75em; }

.article.is-revised {
  padding-top: 3em;
  position: relative; }
.trigger .article {
  font-size: .9em; }
.articles .article {
  padding-top: 3.5em;
  position: relative; }

.article-title {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: .5em;
  margin-top: 0; }
  .article-title > a {
    color: #252424; }

.article-description {
  line-height: 1.4;
  margin-bottom: .5em; }
  .article-description:last-child {
    margin-bottom: 0; }

.article-source-title {
  color: #727272;
  margin-bottom: 1em;
  text-transform: uppercase; }

.article-source {
  font-size: .95em; }

.articles .article-revision {
  padding-top: 1em; }

.filters-section {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 3em; }

.filter-categories {
  clear: both;
  display: flex; }

.filter {
  background-color: #fff;
  border: 0;
  padding: 0;
  position: relative;
  text-align: left; }
  .filter:focus {
    outline: 0; }
  .filter.is-selected:after, .filter.is-selected:before {
    content: '';
    display: block;
    position: absolute; }
  .filter.is-selected:after {
    background-color: transparent;
    border: 60px solid transparent;
    border-bottom: 0;
    border-top: 20px solid #7ecc76;
    bottom: -15px;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    width: 0;
    z-index: 10; }
  .filter.is-selected:before {
    bottom: 0;
    height: 10px;
    width: 100%; }

.filter-title {
  display: inline-block;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }

.filter-category .filter-meta {
  text-align: right; }

.filter-content {
  padding: 1.25em 1em; }

.filter-source {
  background-color: #fff;
  color: #252424;
  height: 175px;
  padding: 1em;
  width: 100%; }

.filter-all {
  background-color: #cecece; }

.filter-category {
  border-top: 1px solid #c1c1c1; }
  .filter-category + .filter-category {
    border-left: 1px solid #c1c1c1; }

.filter-category-for,
.filter-category-against,
.filter-category-observing {
  color: #fff; }

.filter-category-all.is-selected:after {
  border-top-color: #cecece; }
.filter-category-all.is-selected:before {
  background-color: #cecece; }

.filter-category-for {
  background-color: #7ecc76; }
  .filter-category-for.is-selected:after {
    border-top-color: #7ecc76; }
  .filter-category-for.is-selected:before {
    background-color: #7ecc76; }

.filter-category-against {
  background-color: #dd5b53; }
  .filter-category-against.is-selected:after {
    border-top-color: #dd5b53; }
  .filter-category-against.is-selected:before {
    background-color: #dd5b53; }

.filter-category-observing {
  background-color: #f9be58; }
  .filter-category-observing.is-selected:after {
    border-top-color: #f9be58; }
  .filter-category-observing.is-selected:before {
    background-color: #f9be58; }

.menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; }
  .menu > li {
    float: left; }
    .menu > li + li {
      margin-left: 2em; }

.menu-item {
  text-decoration: none;
  text-transform: uppercase; }

.menu-site {
  float: right; }
  .menu-site .menu-item {
    color: #eaeaea;
    line-height: 32px;
    opacity: .75;
    transition: opacity .15s ease-in-out; }
    .menu-site .menu-item.active {
      opacity: 1; }
    .menu-site .menu-item:hover {
      opacity: 1; }

.page-title {
  margin-top: 0; }

.site {
  background-color: #eaeaea; }

.site-header {
  background-color: #252424;
  color: #eaeaea;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 2em; }

.site-logo {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase; }
  .site-logo a {
    color: #eaeaea;
    text-decoration: none; }

svg {
  margin-top: -20px; }

.section {
  margin-bottom: 1em; }

.share {
  display: inline-block; }
  .share + .share {
    margin-left: 2em; }

.share-all {
  margin-right: 4em; }

.shares-label {
  font-size: .85em; }
  .filter-all .shares-label {
    color: #252424; }
  .filter-category .shares-label {
    color: #fff; }

.shares-value {
  display: block;
  font-weight: 500;
  text-transform: uppercase; }
  .filter-meta .shares-value {
    font-size: 1.6em;
    line-height: 1.2; }

.sources {
  font-size: .85em;
  margin-bottom: 0;
  text-transform: uppercase; }

.sources-value {
  display: block;
  font-weight: 500;
  text-transform: uppercase; }

.stance {
  display: inline-block;
  padding: .5em .75em; }
  .article .stance {
    left: 0;
    position: absolute;
    top: 0; }

.stance-value {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase; }

.stance-true,
.stance-for {
  background-color: #7ecc76; }

.stance-false,
.stance-against {
  background-color: #dd5b53; }

.stance-unknown,
.stance-observing {
  background-color: #f9be58; }

.status {
  display: block;
  text-transform: uppercase; }
  .status + .status {
    margin-top: .75em; }

.status-label {
  font-size: .75em; }

.status-value {
  color: #fff;
  display: block;
  padding: .5em .75em; }

.status-false .status-value,
.status-against .status-value {
  background-color: #dd5b53; }

.status-true .status-value,
.status-for .status-value {
  background-color: #7ecc76; }

.status-unknown .status-value,
.status-observing .status-value {
  background-color: #f9be58; }

/*# sourceMappingURL=main.css.map */
