//
// Local variables
// ------------------------------

$article-padding:            2em;

//
// Components
// ------------------------------

.page-articles {
  padding-bottom: 0;
}

.articles-title {
  @extend %section-title;
  margin-bottom: 1em;
}

.articles {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}


//
// Single component
// ------------------------------

.article {
}

.article-title {
  font-family: $font-secondary;
  font-size: font(xl);
  font-weight: 300;
  margin-bottom: .5em;
  margin-top: 0;

  > a {
    text-decoration: none;
  }

  @include breakpoint($breakpoint-mobile-only) {
    clear: both;
  }
}

.article-list-title {
  margin-bottom: 0.5em;
  a {
    text-decoration: none;
    font-weight: weight(bold);
  }
}

.article-meta,
.article-byline {
  font-size: font(xs);
  line-height: 1.2;
}

.article-meta {
  margin-bottom: .75em;
  color: palette(base, dark);

  @include breakpoint($breakpoint-mobile-only) {
    float: right;
  }
}

.article-category {
  color: palette(base, dark);
  font-family: $font-secondary;
  text-transform: uppercase;
}

.article-updated {
  font-weight: weight(medium);
}

.article-shares {
  color: palette(base, darker);
  font-weight: weight(medium);

  @include breakpoint($breakpoint-tablet) {
    float: right;
  }

  .label {
    color: palette(base, dark);
  }
}

.article-byline {
  color: palette(base, dark);
  margin-bottom: 1em;
  font-weight: weight(medium);

  .article-source {
    margin-right: 15px;
  }
}

.article-source {
  a {
    font-weight: weight(bold);
    text-decoration: none;
  }
  .indicator {
    margin-right: 5px;
    margin-left: 8px;
  }
}

.article-originated {
  display: inline-block;

  @include breakpoint($breakpoint-mobile-only) {
    display: block;
  }
}

.article-content {
  font-size: font(sm);
  margin-bottom: 0;

  @include breakpoint($breakpoint-mobile-only) {
    clear: both;
    line-height: 1.4;
  }
}

.article-description {
}

.article-tags,
.article-tracked {
  font-size: font(xs);
  font-weight: weight(medium);
  margin-top: 1em;

  .label {
    color: palette(base, dark);
  }
}

.article-tags {

  position: relative;
  padding-left: 55px;

  .label {
    position: absolute;
    left: 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
}

.article-footer {
  @extend %clearfix;
  @include breakpoint($breakpoint-mobile-only) {
    margin-top: 1em;
  }

  .article-tags {

    @include breakpoint($breakpoint-tablet) {
      @include span(7 of 12);
    }
  }
  .article-tracked {
    @include breakpoint($breakpoint-tablet) {
      text-align: right;
      @include span(last 4 of 12);
    }
  }
  .tracked-group {
    display: inline-block;
    margin-left: 7px;
    .indicator {
      margin-left: 5px;
    }
  }
}




//
// Component variations
// ------------------------------

.article-preview {
  border-bottom: 1px solid palette(base, light);
  padding: $article-padding / 2;
  position: relative;

  @include breakpoint($breakpoint-tablet) {
    padding: 1.5em $article-padding 1.5em ($article-padding + 8.2em);
  }
}

.articles li:last-child {
  .article-preview {
    border-bottom: none;
  }
}


//
// Filter source article

.article-source-title {
  color: palette(base, dark);
  font-size: font(md);
  margin-bottom: 1em;
}

.article-source {
  /* font-size: .95em; */
}


//
// Revision article

.article-revision {
  .article-header,
  .article-footer {
    padding: 1em;
  }
}








//
// Changes

.changes {
  font-size: font(md);
  font-weight: 500;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}


// Articles list
.page-articles {
  padding-top: 2em;
  padding-bottom: 2em;

  .article {
    &.with-stance {
      position: relative;

      @include breakpoint($breakpoint-tablet) {
        padding-left: 8em;
        .stance {
          left: 0;
          top: 0;
        }
      }
    }
  }

  .articles {
     > li {
      border-bottom: 1px solid palette(border, base);

      @include breakpoint($breakpoint-mobile-only) {
        padding-top: 2em;
      }
    }
  }
}
