//
// Local variables
// ------------------------------

$article-padding:            2em;

//
// Components
// ------------------------------

.articles-title {
  @extend %section-title;
  margin-bottom: 1em;
}

.articles-holder {
  @include breakpoint($breakpoint-tablet) {
    border-right: 1px solid palette(base, light);
  }

  @include breakpoint($breakpoint-desktop) {
    border-left: 1px solid palette(base, light);
  }
}

.articles {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}


//
// Single component
// ------------------------------

.article {
}

.article-title {
  font-family: $font-secondary;
  font-size: font(xl);
  margin-bottom: .5em;
  margin-top: 0;

  > a {
    text-decoration: none;
  }
}

.article-meta,
.article-byline {
  font-size: font(xs);
  line-height: 1.2;
}

.article-meta {
  margin-bottom: 1em;
}

.article-category {
  color: palette(base, dark);
  font-family: $font-secondary;
  text-transform: uppercase;
}

.article-updated {
  font-weight: weight(medium);
}

.article-shares {
  float: right;
  font-weight: weight(medium);

  .label {
    color: palette(base, dark);
  }
}

.article-byline {
  color: palette(base, dark);
  margin-bottom: 1em;
  font-weight: weight(medium);
}

.article-source {
  a {
    font-weight: weight(bold);
    text-decoration: none;
  }
}

.article-originated {
  display: inline-block;
  margin-left: 10px;
}

.article-content {
  margin-bottom: 0;
  font-size: font(sm);
}

.article-description {
}

.article-footer {
  @extend %clearfix;
  .article-tags {
    @include span(5 of 12);
  }
  .article-tracked {
    @include span(last 5 of 12);
  }
}




//
// Component variations
// ------------------------------

.article-preview {
  border-bottom: 1px solid palette(base, light);
  padding: $article-padding $article-padding $article-padding ($article-padding + 8.2em);
  position: relative;
}


//
// Filter source article

.article-source-title {
  color: palette(base, dark);
  font-size: font(md);
  margin-bottom: 1em;
}

.article-source {
  /* font-size: .95em; */
}


//
// Revision article

.article-revision {
  .article-header,
  .article-footer {
    padding: 1em;
  }
}








//
// Changes

.changes {
  font-size: font(md);
  font-weight: 500;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
