//
// Articles

.articles-title {
  @extend %section-title;
}

.articles {
  list-style-type: none;
  padding-left: 0;

  > li {
    margin-bottom: .75em;
  }
}


//
// Single article

.article {

  &.is-revised {
    padding-top: 3em;
    position: relative;
  }

  // in a .trigger
  .trigger & {
    font-size: .9em;
  }

  // display in content block when in list
  .articles & {
    @extend %content-background;
    @extend %clearfix;
    clear: both;
  }

}

.article-title {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: .5em;
  margin-top: 0;

  > a {
    color: palette(type, dark);
  }
}

.article-date {
  font-size: 1.6em;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.article-time {
  color: palette(base, dark);
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.article-content {
  padding: 1em;
}

.article-description {
  line-height: 1.4;
  margin-bottom: .5em;

  &:last-child {
    margin-bottom: 0;
  }
}


//
// Filter source article

.article-source-title {
  color: palette(base, dark);
  margin-bottom: 1em;
  text-transform: uppercase;
}

.article-source {
  font-size: .95em;
}


//
// Revision article

.article-revision {
  .article-header,
  .article-footer {
    padding: 1em;
  }
}








//
// Changes

.changes {
  font-size: 1.1em;
  font-weight: 500;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
