//
// Multiple cards

.cards {}

.cards-section {
  //@extend %clearfix;
}

.card-categories {
  display: table;
  border: 1px solid palette(border, base);
  border-radius: 5px;
  width: 100%;
  max-width: 445px;
}

.card-category {
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid palette(border, base);

  &:last-child {
    border-right: none;
  }

  .card-categories-1 & {
    width: 100%;
  }

  .card-categories-2 & {
    width: 50%;
  }

  .card-categories-3 & {
    width: 33.3%;
  }
}


//
// Single filter

.card {
  position: relative;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }

  .sources {
    font-size: font(md);
  }

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 0;
  }
}

.card-header,
.card-content {
  padding: 1em;
}

.card-header {
  padding-bottom: 0;
  line-height: 1;
}

.card-header {
  @extend %clearfix;
}

.card-title {
  display: inline-block;
  font-weight: weight(medium);
  margin-bottom: 0;
  margin-top: 0;
  color: #7f7f7f;

  .icon {
    margin-top: 0;
    margin-left: .5em;
  }
}

.card-meta {
  text-align: right;
}

.card-content {
  width: 100%;
}
