//
// Single claim
// ------------------------------

.page-claim {
  // .article-tags {
  //   @include breakpoint($breakpoint-tablet) {
  //     margin-bottom: 1em;
  //   }
  // }
}

.page-claim-body {
  @extend %page-gutters;
  padding-top: 2em;
  padding-bottom: 2em;
}

.article-list-title time {
  margin-right: 10px;
}
