//
// Single claim
// ------------------------------

.page-claim {
  // .article-tags {
  //   @include breakpoint($breakpoint-tablet) {
  //     margin-bottom: 1em;
  //   }
  // }

  .page-meta .container,
  .sources-filtering .container {
    @include breakpoint($breakpoint-tablet) {
      padding-left: 10.2em;
    }
  }
}

.page-claim-body {
  .page-content {
    padding-bottom: 0;
  }
}

.article-list-title time {
  margin-right: 10px;
}

.claim-footer-next {
  border-top: 1px solid palette(border, base);
  @extend %clearfix;
  padding: 2em 0;

  @include breakpoint($breakpoint-mobile-only) {
    @include gutter($gutters-mobile inside);
  }

  .next-label {
    font-size: font(sm);
    color: palette(base, dark);
    font-weight: weight(medium);
  }

  .next-link-holder {
    position: relative;
    padding-left: 5.5em;
    margin-top: 0.5em;
    .stance {
      position: absolute;
      left: 0;
      top: 0.1em;
    }
    a {
      text-decoration: none;
      font-size: font(lg);
    }
  }

  .container {
    @include breakpoint($breakpoint-tablet) {
      padding-left: 10.2em;
      padding-right: 19%;
    }
  }
}
