//
// Articles Filters
// ------------------------------
.articles-filtering {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
  @extend %clearfix;
  @extend %page-gutters;

  .navigation-filtering {
    float: left;
    border-right: 1px solid #ebebeb;
    margin-left: -2px;

    li {
      float: left;
      margin-bottom: -1px;
    }

    .navigation-link {
      color: palette(base, dark);
      border-bottom: 1px solid transparent;
      line-height: 1;
      font-size: 0.8em;
      padding: 18px 2px 16px;
      margin: 0 24px 0 0;

      &.active {
        color: palette(base, darker);
        border-bottom-color: palette(base, darker);
      }
    }

    + .navigation-filtering {
      padding-left: 24px;
    }
  }
}

//
// Article Filters
// ------------------------------
.filters {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 0;
  padding-left: 0;

  > li {
    display: inline-block;

    + li {
      margin-left: .5em;
    }
  }
}

.filter {
  background-color: palette(base, lighter);
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: .65;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: opacity .2s ease;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &:hover,
  &.is-selected {
    opacity: 1;
  }
}


.filter-category {
  color: palette(base, lighter);
  font-weight: 400;
}

.filter-category-all {
  background-color: palette(base);
  border-color: palette(base);

  &.is-selected {
    border-color: darken(palette(base), 10%);
  }
}

.filter-category-for {
  background-color: palette(category, for);
  border-color: palette(category, for);

  &.is-selected {
    border-color: darken(palette(category, for), 10%);
  }
}

.filter-category-against {
  background-color: palette(category, against);
  border-color: palette(category, against);

  &.is-selected {
    border-color: darken(palette(category, against), 10%);
  }
}

.filter-category-observing {
  background-color: palette(category, observing);
  border-color: palette(category, observing);

  &.is-selected {
    border-color: darken(palette(category, observing), 10%);
  }
}
