//
// Articles Filters
// ------------------------------
.articles-filtering,
.sources-filtering {
  border-bottom: 1px solid palette(border, base);
  padding-right: 0;
  @extend %clearfix;

  &.articles-filtering {
    background-color: #fafafa;
    @extend %page-gutters;
  }

  &.sources-filtering {
    background-color: #fdfdfd;
    margin-left: 5px;
  }

  .navigation-filtering {
    float: left;
    margin-left: -2px;

    li {
      float: left;
      margin-bottom: -1px;
    }

    .navigation-link {
      color: palette(base, dark);
      border-bottom: 1px solid transparent;
      line-height: 1;
      font-size: font(xxs);
      padding: 18px 2px 16px;
      margin: 0 11px 0 0;

      @include breakpoint($breakpoint-tablet) {
        margin: 0 20px 0 0;
        font-size: font(xs);
      }

      transition: border .15s ease-in-out;

      &:hover {
        border-bottom-color: palette(base, base);
      }

      &.active {
        color: palette(base, darker);
        border-bottom-color: palette(base, darker);
      }
    }

    + .navigation-filtering {
      padding-left: 11px;
      margin-left: 0;

      border-left: 1px solid palette(border, base);

      @include breakpoint($breakpoint-mobile-large) {
        border-right: 1px solid palette(border, base);
      }

      @include breakpoint($breakpoint-tablet) {
        padding-left: 20px;
      }
    }
  }
}

//
// Article Filters
// ------------------------------
.filters {
  background-color: #fafafa;
  border-bottom: 1px solid palette(border, base);
  border-left: 1px solid palette(border, base);
  border-right: 1px solid palette(border, base);
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 0;
  padding-left: 1em;

  > li {
    display: inline-block;

    + li {
      margin-left: 1.5em;
    }
  }

  @include breakpoint($breakpoint-tablet) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.filter {
  background-color: transparent;
  border: 0;
  display: inline-block;
  font-size: font(xs);
  padding: 1em 0;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: 0 1px 0 palette(base);
  }

  &.is-selected {
    box-shadow: 0 1px 0 palette(base, darker);
  }
}
