//
// Base styles

.menu {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  > li {
    float: left;

    + li {
      margin-left: 2em;
    }
  }
}

.menu-item {
  text-decoration: none;
  text-transform: uppercase;
}


//
// Site menu

.menu-site {
  float: right;

  .menu-item {
    color: palette(type, light);
    line-height: 32px; // equal to .site-logo height
    opacity: .75;
    transition: opacity .15s ease-in-out;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}
