//
// Base styles

.navigation {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.navigation-link {
  display: block;
  text-decoration: none;

  .icon {
    margin-right: 10px;
    vertical-align: top;
  }
}

.navigation-label {
  display: block;
  color: palette(base, dark);
  font-size: font(xs);
  font-weight: weight(medium);
}

  button.navigation-link {
    border: 0;
    background-color: transparent;
    padding: unherit;
  }

//
// Site menu
.site-menu-toggle {
  width: 22px;
  height: 16px;
  display: block;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  right: $gutters-mobile / 2;
  top: 50%;
  margin-top: -8px;
  border-top: 2px solid palette(base, lighter);
  border-bottom: 2px solid palette(base, lighter);
  transition: opacity .15s ease-in-out;
  // padding-top: 6px;

  @include breakpoint($breakpoint-tablet) {
    display: none;
  }

  span {
    text-indent: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 2px;
    background-color: palette(base, lighter);
  }

  &:hover {
    opacity: .75;
  }
}

.navigation-site {
  float: right;
  font-size: font(xs);
  display: none;

  @include breakpoint($breakpoint-tablet) {
    display: block;
  }

  > li {
    float: left;
  }

  .navigation-link {
    color: palette(type, light);
    font-weight: 700;
    line-height: 38px; // equal to .site-logo height
    opacity: 1;
    padding-left: 2em;
    transition: opacity .15s ease-in-out;

    &.active {
      opacity: .75;
    }

    &:hover {
      opacity: .75;
    }
  }
}

// Show navigation on toggle (mobile only)
@include breakpoint($breakpoint-mobile-only) {
  .navigation-site {
    transition: max-height .15s ease-in-out;
    max-height: 0;
    display: block;
    overflow-y: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 5;
    .navigation-link {
      padding-left: 1em;
    }
  }
  .site-header.nav-toggle-active {
    .navigation-site {
      max-height: 50px;
    }
  }
}

.navigation-categories {
  font-family: $font-secondary;
  font-size: font(sm);
  margin-left: -5px; // offset target padding
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;

  > li {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    // float: none;

    // Seperation block
    &:before {
      content: '';
      width: 3px;
      height: 3px;
      display: inline-block;
      margin: 0 10px;
      background: #e0e0e0;
      vertical-align: middle;
    }

    &:first-child:before {
      display: none;
    }
  }

  .navigation-link {
    color: palette(base, dark);
    display: inline-block;
    font-weight: weight(medium);
    opacity: 1;
    padding: .7em .5em;
    transition: color .25s ease;
    white-space: nowrap;

    &:hover {
      color: palette(base, darker);
    }
  }
}

.navigation-trending {
  margin-right: -5px; // offset target padding
  display: inline-block;

  > li {
    display: inline-block;
    position: relative;
  }

  .navigation-link {
    opacity: 1;
    transition: opacity .15s ease;
    display: inline-block;
    margin: 0 .75em;
    font-size: font(xs);

    &.active {
      opacity: .75;
    }

    &:hover {
      opacity: .75;
    }
  }
}

.navigation-page {
  > li {
    padding: 15px;

    &:first-child {
      border-top: 1px solid palette(base, light);
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 20px;

      &:first-child {
        border-top: none;
      }
    }
    // border-bottom: 1px solid palette(base, light);
    // @include breakpoint($breakpoint-desktop) {
    //   border-right: 1px solid palette(base, light);
    // }
  }

  p {
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: font(xs);
  }

  .navigation-link {
    font-size: font(xs);
    font-weight: 700;
    text-decoration: underline;
  }
}

.navigation-social {
  .navigation-link {
    line-height: 21px;
    margin-top: 0.5em;
  }
}

.navigation-footer-social {
  border-top: 1px solid palette(border, base);
  @extend %clearfix;
  padding: 2em 0;

  @include breakpoint($breakpoint-mobile-only) {
    @include gutter($gutters-mobile inside);
  }

  .navigation {
    @include breakpoint($breakpoint-tablet) {
      margin-left: 10.2em;
    }

    > li {
      float: left;

      &:first-child {
        float: none;
      }
    }

    .navigation-label {
      color: palette(base, dark);
      font-size: font(xs);
      line-height: 1;
      display: block;
      margin-bottom: 0.5em;
    }

    .navigation-link {
      margin-right: 0.5em;
      width: 25px;
      height: 25px;
      overflow: hidden;

      background-color: #000;

      &.facebook {
        padding: 5px 0 0 7px;
        background-color: #3b5898;

        &:hover {
          background-color: darken(#3b5898, 5%);
        }
      }

      &.twitter {
        padding: 5px 0 0 5px;
        background-color: #01aced;

        &:hover {
          background-color: darken(#01aced, 5%);
        }
      }
    }
  }
}

.navigation-social-buttons {
  @extend %clearfix;
  border-top: 1px solid #ebebeb;
  margin-top: 1em;
  padding-top: 1em;

  li {
    float: left;
    margin-right: 10px;
    margin-top: 0.5em;

    &:last-child {
      margin-right: 0;
    }

    .navigation-link {
      line-height: 1;
      display: block;
      padding: 1em 2em;
      text-align: center;
      background-color: #000;
      color: #FFF;
      font-weight: weight(bold);
      font-size: font(sm);
      transition: background .15s ease-in-out;
      min-width: 250px;

      .icon {
        margin-right: 15px;
      }

      &.facebook {
        background-color: #3b5898;

        &:hover {
          background-color: darken(#3b5898, 5%);
        }
      }

      &.twitter {
        background-color: #01aced;

        &:hover {
          background-color: darken(#01aced, 5%);
        }
      }
    }
  }
}

.navigation-footer {
  li {
    float: left;
    margin-left: 30px;

    a {
      font-size: font(xs);
      color: palette(base, dark);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
