//
// Base styles

.navigation {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.navigation-link {
  display: block;
  text-decoration: none;
}


//
// Site menu

.navigation-site {
  float: right;

  > li {
    float: left;
  }

  .navigation-link {
    color: palette(type, light);
    line-height: 38px; // equal to .site-logo height
    opacity: .75;
    padding-left: 1em;
    padding-right: 1em;
    transition: opacity .15s ease-in-out;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}
