.page {
  background-color: palette(base, lighter);
}

.page-header {
  // background-color: palette(base, lighter);
  // border-bottom: 1px solid rgba(0, 0, 0, .15);
  // box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
}

.page-title {
  margin-top: 0;
  margin-bottom: 0.5em;

  @include breakpoint($breakpoint-mobile-only) {
    clear: both;
  }
}

.page-content {
  padding-bottom: 2em;
  // padding-top: 2em;

  &.page-claims-parent {
    padding-bottom: 0;
  }
}

// TODO: don't do this
.page-meta {
  background-color: #fcfcfc;
  border-top: 1px solid palette(border, base);
  border-bottom: 1px solid palette(border, base);
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  .meta-title {
    margin-top: 0;
    font-family: $font-secondary;
    font-weight: weight(regular);
    margin-bottom: 0.5em;
  }

  > .container {
    @extend %page-gutters;
  }
}
