.section {
  @extend %clearfix;
}

.section-title {
  @extend %section-title;
  margin-bottom: .75em;
}

.section-content {
  @extend %content;
  @extend %content-background;
}

.section-with-sidebar {
  @include breakpoint($breakpoint-tablet) {
    border-right: 1px solid palette(base, light);
  }

  @include breakpoint($breakpoint-desktop) {
    border-left: 1px solid palette(base, light);
  }
}