.shares {
  // inside articles list
  .articles & {
    text-align: center;
  }

  // inside page meta
  .meta & {
    font-size: font(xs);
  }

  .page-meta & {
    display: inline-block;

    + .shares {
      margin-left: 2em;
      margin-bottom: 1em;
    }
  }

  .card-category & {
      margin-top: 0.5em;
  }
}

.shares-label {
  @extend %label;

  // inside a category filter
  .card-category & {
    display: block;
    font-size: font(xs);
    color: palette(base, dark);
  }
}

.shares-value {
  font-weight: weight(medium);
  line-height: 1;
}
