.shares {}

.shares-label {
  @extend %label;
  font-size: .85em;

  // inside of a category filter
  .filter-category & {
    color: palette(clear);
  }
}

.shares-value {
  display: block;
  font-weight: 500;
}
