.shares {
  // inside articles list
  .articles & {
    text-align: center;
  }

  // inside page meta
  .page-meta & {
    display: inline-block;

    + .shares {
      margin-left: 2em;
      margin-bottom: 1em;
    }
  }
}

.shares-label {
  @extend %label;

  // inside a category filter
  .card-category & {
    color: palette(base, lighter);
  }
}

.shares-value {
  font-weight: weight(medium);
  line-height: 1;
}
