.site {
  background-color: palette(base, light);
}


.site-header {
  background-color: palette(base, darker);
  color: palette(type, light);
  padding-bottom: 1em;
  padding-top: 3em;
}

.site-logo {
  font-family: $font-logo;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;

  a {
    color: palette(type, light);
    text-decoration: none;
  }
}

.site-footer {
  background-color: palette(base, lighter);
  clear: both;
  padding-bottom: 2em;
  padding-top: 2em;
}
