//
// Local variables
// ------------------------------

$stance-width:             5.5em;

//
// Component
// ------------------------------

.stance {
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  float: left;
  line-height: 1;
  padding: .2em .2em .3em;
  text-align: center;

  // in article previews
  .with-stance & {
    margin-bottom: 1em;
    @include breakpoint($breakpoint-tablet) {
      left: 2.6em;
      position: absolute;
      top: 3.1em;
      margin-bottom: 0;
    }
  }

  @include breakpoint($breakpoint-tablet) {
    display: block;
    float: none;
    padding: .4em;
    width: $stance-width;
  }

  &.stance-small {
    padding: .2em .2em .3em;
    width: $stance-width / 1.3;
  }
}

.stance-value {
  font-size: font(xs);
  font-weight: 700;
  letter-spacing: .025em;
  text-transform: capitalize;
}



//
// Component variations
// ------------------------------

.stance-true,
.stance-false,
.stance-for,
.stance-against {
  color: palette(base, lighter);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

.stance-true,
.stance-for {
  background-color: palette(status, true);
  border-color: palette(status, true);
}

.stance-false,
.stance-against {
  background-color: palette(status, false);
  border-color: palette(status, false);
}

.stance-unknown,
.stance-observing {
  background-color: transparent;
  border-color: #919191;
  color: palette(status, unknown);
}

.stance-changing {
  background-color: #f4f4f4;
  color: #7f7f7f;
  border-color: #ededed;
}
