//
// Local variables
// ------------------------------

$stance-width:               6em;

//
// Component
// ------------------------------

.stance {
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  padding-bottom: .25em;
  padding-top: .3em;
  text-align: center;
  width: $stance-width;

  // in article previews
  .article-preview & {
    margin-bottom: 1em;
    @include breakpoint($breakpoint-tablet) {
      left: 2.6em;
      position: absolute;
      top: 4em;
      margin-bottom: 0;
    }
  }
}

.stance-value {
  font-size: font(xs);
  font-weight: 700;
  text-transform: capitalize;
}



//
// Component variations
// ------------------------------

.stance-true,
.stance-false {
  color: palette(base, lighter);
}

.stance-true {
  background-color: palette(status, true);
  border-color: palette(status, true);
}

.stance-false {
  background-color: palette(status, false);
  border-color: palette(status, false);
}

.stance-unknown {
  background-color: transparent;
  border-color: palette(status, unknown);
  color: palette(status, unknown);
}