//
// Base styles

.status {
  display: block;

  & + & {
    margin-top: .75em;
  }
}

.status-label {
  font-size: font(sm);
  font-weight: 500;
}

.status-value {
  color: palette(base, lighter);
  display: block;
  letter-spacing: 1px;
  padding: .5em .75em;
  text-transform: uppercase;
}

//
// Types of status

.status-ignoring,
.status-unknown {
  .status-value {
    background-color: palette(base);
  }
}

.status-false,
.status-against {
  .status-value {
    background-color: palette(status, false);
  }
}

.status-true,
.status-for {
  .status-value {
    background-color: palette(status, true);
  }
}

.status-observing {
  .status-value {
    background-color: palette(status, unknown);
  }
}


// article
// - for, against, observing, ignoring

// claim
// - true, false, unverified
