//
// Stance

.stance {
  display: inline-block;
  padding: .5em .75em;

  & + & {
    margin-left: .5em;
  }
}

.stance-value {
  color: palette(clear);
  font-weight: 500;
  text-transform: uppercase;
}


//
// Types of stance

.stance-true,
.stance-for {
  background-color: palette(status, true);
}

.stance-false,
.stance-against {
  background-color: palette(status, false);
}

.stance-unknown,
.stance-observing {
  background-color: palette(status, unknown);
}


//
// Revised stance

.stance-revised {
  background-color: palette(clear);

  &.stance-for {
    .stance-value {
      color: palette(status, true);
    }
  }

  &.stance-against {
    .stance-value {
      color: palette(status, false);
    }
  }

  &.stance-observing {
    .stance-value {
      color: palette(status, unknown);
    }
  }
}
