.page-timeline {
  @include breakpoint($breakpoint-mobile-only) {
    @include gutter($gutters-mobile inside);
  }

  .article {
    position: relative;
    @extend %clearfix;
    padding: 1em 0 1em;

    @include breakpoint($breakpoint-tablet) {
      padding: 1em 1em 1em 2em;
    }

    .article-description {
      margin-bottom: 0;
    }
    .article-list-title {
      margin-top: 0;
    }

    .icon {
      position: absolute;
      left: 0;
      margin-left: -8px;
      margin-top: 0;
      z-index: 5;

      display: none;

      @include breakpoint($breakpoint-tablet) {
          display: block;
      }
    }

    .stance-changing {
      right: 100%;
      left: auto;
      top: auto;
      margin-top: -7px;
      margin-right: 2em;
      z-index: 4;

      &:after {
        content: '';
        width: 2em;
        height: 1px;
        background-color: palette(border, base);
        overflow: hidden;
        position: absolute;
        left: 100%;
        top: 50%;
      }
    }
  }

  .article-header-date {
    border-top: 1px solid palette(border, base);
    display: block;
    font-size: font(sm);
    font-weight: weight(medium);

    padding: 1.5em 0 0.5em;

    @include breakpoint($breakpoint-tablet) {
      padding: 1.5em 1em 0.5em 2em;
    }
  }

  .articles {
      li {
        @include breakpoint($breakpoint-tablet) {
          margin-left: 9.8em;
          border-left: 1px solid palette(border, base);
        }
      }
      li:first-child {
        .article-header-date {
          border-top: none;
          margin-top: 0;
        }
      }
  }
}
