//
// Base styles

.tracking {
  border-top: 1px solid palette(border, base);
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tracking-header {
  font-size: font(xs);
  font-weight: weight(medium);
  color: palette(base, dark);

  a {
    font-weight: weight(bold);
    text-decoration: none;
  }
}

.tracking-body {
  font-size: font(sm);
}

//
// Types of status

.tracking-unknown {
  border-left-color: palette(status, unknown);
}

.tracking-false {
  border-left-color: palette(status, false);
}

.tracking-true {
  border-left-color: palette(status, true);
}



// article
// - for, against, observing, ignoring

// claim
// - true, false, unverified
