//
// Multiple triggers

.triggers {}

.triggers-section {
  @extend %clearfix;
  background-color: palette(clear);
  border: 1px solid palette(base);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  margin-bottom: 1em;
}


//
// Single trigger

.trigger {
  background-color: palette(clear);
  border-bottom: 10px solid transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: .25em .75em;
  text-align: left;

  &:focus {
    outline: 0;
  }

  &.is-selected {
    border-bottom-color: palette(primary);
    position: relative;

    &:after {
      border: 60px solid transparent;
      border-bottom: 0;
      border-top: 20px solid palette(primary);
      bottom: -20px;
      content: '';
      display: block;
      height: 0;
      left: 50%;
      margin-left: -60px;
      position: absolute;
      width: 0;
    }
  }
}


//
// Types of trigger

.trigger-all {
}

.trigger-category {
  border-top: 1px solid palette(base);

  & + & {
    border-left: 1px solid palette(base);
  }
}
