.story-show-layout {
  h3 {
    font-size: 1.2em;
    font-weight: bold;
  }

  .story-metadata {
    border-bottom: 1px solid @navbar-default-border;
    text-align: center;

    .slug {
      h3 {
        display: inline;
        font-family: @font-family-monospace;
        font-weight: bold;
        font-size: 1.2em;
      }

      a {
        display: inline-block;
        margin-left: 1em;
      }
    }

    h2 {
      font-size: 1.2em;
    }
  }

  .explanation {
    .text-muted();
  }

  ul.story-articles {
    .list-unstyled();

    li.article {
      a {
        display: block;
        line-height: 2.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.focus {
        font-weight: bold;
      }
    }
  }

  &.article-focused ul.story-articles {
    background: @well-bg;

    li.article {
      padding-left: 1em;
    }

    li.article.focus {
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      background: @body-bg;
    }
  }

  .new-article {
    margin-top: 8em;
  }

  .article-version-list {
    ins {
      color: #5b5;
    }

    del {
      color: #b55;
    }

    a.toggle-edit-url-version {
      display: block;
      margin: 1em 0;
    }

    article {
      max-height: 20em;
      overflow: auto;
      padding: 1em;
      background: @well-bg;

      h4.headline {
        font-size: 1em;
        font-weight: bold;
      }

      p.published {
        .text-muted();
      }

      .body {
        margin: 1.5em 0 1em;
      }
    }

    ul.article-versions {
      .list-unstyled();
    }

    li.article-version {
      h3 {
        a {
          color: inherit;
        }
        color: #bb5;
        &::after {
          content: "✍";
        }
      }
      &.complete h3 {
        color: #5b5;
        &::after {
          content: "✔";
        }
      }

      &:not(.expanded) {
        form { display: none; }

        h3 {
          &::before {
            content: "▸ ";
          }
        }
      }

      &.expanded {
        h3 {
          &::before {
            content: "▾ ";
          }
        }
      }
    }

    fieldset.url-version {
      &:not(.editing) {
        legend { margin-bottom: 0; }
        .edit { display: none; }
      }

      &.editing {
        .read-only { display: none; }
      }
    }
  }
}
