//
// Base form styles

input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"] {
  box-shadow: 0;
  padding: .5em .75em;
}

input[type="search"] {
  width: 60%;
}

input[type="submit"] {
  border: 0;
  border-radius: 2px;
  padding: .5em .75em;
}


// Default form (.form)

.form {
  .input-group {
    margin: 1.5em 0;
    label {
      display: block;
      margin-bottom: 0.3em;
    }

    input[type="text"],
    input[type="url"],
    input[type="email"] {
      width: 100%;
    }
  }

  .button-group {
    margin: 1.5em 0;
  }

  label {
    font-size: font(lg);
  }

  input[type="text"],
  input[type="url"],
  input[type="email"] {
    font-size: font(md);

    &:focus {
      outline: none;
    }
  }

  .button {
    -webkit-appearance: none;
    &-submit {

    }
  }
}

// Validation
.parsley-errors-list {
  display: none;
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  color: red;
  font-size: font(xs);

  &.filled {
    display: block;
  }
}

input[type="text"],
input[type="url"],
input[type="email"] {
 &.parsley-error {
   border: 1px solid red;
  }
}
