.icon {
  text-indent: -9999px;
}

.icon-confirmed,
.icon-resolved {
  background-image: image-url('verified.svg');
  background-size: 15px 15px;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: top;
}

.icon-confirmed-truthiness {
  background-image: image-url('verified-truthiness.svg');
  background-size: 15px 15px;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: top;
}

.icon-added {
  background-image: image-url('originated.svg');
  background-size: 15px 15px;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: top;
}

.icon-most-shared {
  background-image: image-url('shared.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  margin-right: 5px;
  margin-top: -6px;
  vertical-align: middle;
  width: 26px;
}

.icon-facebook,
.icon-twitter,
.icon-google {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 24px;
  vertical-align: top;
  width: 24px;
}


.icon-facebook {
  background-image: image-url('facebook.svg');
  width: 18px;
}

.icon-twitter {
  background-image: image-url('twitter.svg');
}

.icon-google {
  background-image: image-url('google.svg');
}

.icon-search {
  background-image: image-url('search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
}

.icon-close {
  background-image: image-url('close.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  display: inline-block;
  height: 11px;
  width: 11px;
  overflow: hidden;
}

.icon-facebook-round,
.icon-twitter-round {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  display: inline-block;
  height: 21px;
  vertical-align: top;
  width: 21px;
}

.icon-facebook-round {
  background-image: image-url('facebook-round.svg');
}

.icon-twitter-round {
  background-image: image-url('twitter-round.svg');
}

.icon-facebook-white,
.icon-twitter-white {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.icon-facebook-white {
  background-image: image-url('facebook-white.svg');
  width: 9px;
  height: 14px;
}

.icon-twitter-white {
  background-image: image-url('twitter-white.svg');
  width: 15px;
  height: 14px;
}

.icon-dispute {
  background-image: image-url('dispute.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 17px 20px;
  display: inline-block;
  height: 20px;
  width: 17px;
}

.icon-submit-a-source {
  background-image: image-url('submit.svg');
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 14px;
}
