.icon {
  text-indent: -9999px;
}

.icon-confirmed {
  background-image: image-url('confirmed.svg');
  display: block;
  height: 30px;
  width: 30px;
}

.icon-most-shared {
  background-image: image-url('shared.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 26px;
  margin-right: 5px;
  margin-top: -6px;
  vertical-align: middle;
  width: 26px;
}

.icon-facebook,
.icon-twitter,
.icon-google {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  height: 24px;
  vertical-align: top;
  width: 24px;
}


.icon-facebook {
  background-image: image-url('facebook.svg');
  width: 18px;
}

.icon-twitter {
  background-image: image-url('twitter.svg');
}

.icon-google {
  background-image: image-url('google.svg');
}

.icon-search {
  background-image: image-url('search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
}

.icon-close {
  background-image: image-url('close.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  display: inline-block;
  height: 11px;
  width: 11px;
  overflow: hidden;
}
