%container {
  @include breakpoint($breakpoint-mobile) {
    @include container($container-mobile);
  }

  @include breakpoint($breakpoint-tablet) {
    @include container($container-tablet);
  }

  @include breakpoint($breakpoint-desktop) {
    @include container($container-desktop);
  }

  @include breakpoint($breakpoint-retina) {
    @include container($container-retina);
  }
}

.container {
  @extend %container;
}



@include breakpoint($breakpoint-desktop) {

  // Site

  .site-logo {
    @include span(3 of 12);
  }

  .site-menu {
    @include span(last 9 of 12);
  }


  //
  // Claim page

  .page-article,
  .page-claim {

    .page-header {
      @include span(10 of 12);
    }

    .page-meta {
      @include span(last 2 of 12);
    }

    .page-content,
    .page-chart,
    .page-articles {
      @include full;
    }

    .article-content {
      @include span(10 of 12);
    }

    .article-footer {
      @include span(last 2 of 12);
    }

  }


  .article-revision {
    .article-header {
      @include span(2 of 12);
    }

    .article-content {
      @include span(8 of 12);
    }

    .article-footer {
      @include span( last 2 of 12);
    }
  }

}


.filter-all {
  @include full;
}

.filter-category {
  @include span(nest 4 of 12 inside);
}
