%container {
  @include breakpoint($breakpoint-mobile) {
    @include container($container-mobile);
  }

  @include breakpoint($breakpoint-tablet) {
    @include container($container-tablet);
  }

  @include breakpoint($breakpoint-desktop) {
    @include container($container-desktop);
  }
}

%page-gutters {
  @include breakpoint($breakpoint-mobile) {
    @include gutter($gutters-mobile inside);
  }

  @include breakpoint($breakpoint-tablet) {
    @include gutter($gutters-tablet inside);
  }

  @include breakpoint($breakpoint-desktop) {
    @include gutter($gutters-desktop inside);
  }
}

.container,
.page-content {
  @extend %container;
}

.page-gutters {
  @extend %page-gutters;
}


//
// Filter categories

.card-all,
.card-category {
  .card-title {
    @include span(1 of 4);
  }

  .card-meta {
    @include span(last 3 of 4);
  }
}



@include breakpoint($breakpoint-tablet) {

  //
  // root.js.jsx

  .site-logo {
    @include span(3 of 12);
  }

  .site-menu {
    @include span(last 9 of 12);
  }


  //
  // claims.js.jsx

  .articles {
    @include span(9 of 12 no-gutters);
  }

  .page-navigation {
    @include span(3 of 12 wide no-gutters);
  }

  //
  // Footer
  .mailchimp {
    @include span(8 of 12);
  }

  .social-media {
    @include span(last 4 of 12);
  }


  //
  // Claim page

  .page-article,
  .page-claim {

    .section-header {
      @include span(9 of 12);
    }

    .page-meta {
      @include span(last 3 of 12);
    }

    .page-content,
    .page-chart,
    .page-articles {
      @include full;
    }

  }


  //
  // About page

  .page-about {
    .page-content {
      @include span(10 of 12);
    }
  }


  //
  // Filter categories

  .card-all {
    .card-title {
      @include span(3 of 12);
    }

    .card-meta {
      @include span(last 9 of 12);
    }
  }

  .card-category {
    .card-categories-1 & {
      @include span(nest 12 of 12);
    }

    .card-categories-2 & {
      @include span(nest 6 of 12);
    }

    .card-categories-3 & {
      @include span(nest 4 of 12);
    }

    &:last-child {
      @include last;
    }
  }

}
