//
// Base

%label {
  color: palette(base, dark);
}

%content {
  clear: both;
  padding: 1em;
}

%content-background {
  background-color: palette(base, lighter);
  border: 1px solid palette(base);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}




//
// Typography

%section-title {
  font-size: font(xl);
  margin-top: 0;
}
