//
// Susy grid system

$susy: (
  columns: 12,
  gutters: 1/3,
  global-box-sizing: border-box
);

$breakpoint-mobile:         0;
$breakpoint-mobile-large:   30em;
$breakpoint-tablet:         48em;
$breakpoint-desktop:        68em;
// $breakpoint-retina:      96em;

$breakpoint-mobile-only:    $breakpoint-mobile $breakpoint-tablet;

$gutters-mobile: 30px;
$gutters-tablet: 40px;
$gutters-desktop: 80px;

$container-mobile:     100%;
// $container-tablet:     720px + $gutters-tablet;
$container-tablet:     100%;
$container-desktop:    944px + $gutters-desktop;

// $container-retina:     1190px;



//
// Typography

$font-primary:         'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary:       'news-gothic-std', Helvetica, Arial, sans-serif;
$font-logo:            $font-secondary;

$font-sizes: (
  xs:   .85em,
  sm:   .95em,
  md:     1em,
  lg:  1.25em,
  xl:   1.5em
);


//
// Colours

$palette: (
  base: (
    lighter:    #ffffff,
    light:      #eaeaea,
    base:       #b2b2b2,
    dark:       #7f7f7f,
    darker:     #323232
  ),
  type: (
    light:      #ffffff,
    dark:       #323232,
    link:       #1473a3
  ),
  status: (
    true:       #00bf71,
    false:      #e70909,
    unknown:    #656565
  ),
  category: (
    for:        #7ecc76,
    against:    #dd5b53,
    observing:  #f9be58
  )
);
